<script lang="ts">
import { T, useFrame } from '@threlte/core'
import { OrbitControls, Text } from '@threlte/extras'
import { Shape, ExtrudeGeometry } from 'three'
import { degToRad } from 'three/src/math/MathUtils.js'

const x = -5, y = -20;
const heartShape = new Shape();
heartShape.moveTo( x+5, y+5 );
heartShape.bezierCurveTo( x+5, y+5, x+4, y, x, y );
heartShape.bezierCurveTo( x-6, y, x-6, y+7, x-6, y+7 );
heartShape.bezierCurveTo( x-6, y+11, x-3, y+15.4, x+5, y+19 );
heartShape.bezierCurveTo( x+12, y+15.4, x+16, y+11, x+16, y+7 );
heartShape.bezierCurveTo( x+16, y+7, x+16, y, x+10, y );
heartShape.bezierCurveTo( x+7, y, x+5, y+5, x+5, y+5 );
const text = "DeHart Family\n Construction"

let rotation = 0
useFrame(() => {
	rotation += 0.01
})
</script>
	
<T.PerspectiveCamera makeDefault position={[5, 2, 5]} fov={24}>
	<OrbitControls enableZoom={true} target={[0, 0.7, 0]}/>
</T.PerspectiveCamera>
<T.DirectionalLight castShadow position={[3, 10, 10]} />
<T.DirectionalLight position={[-3, 10, -5]} intensity={1} />
<T.Group rotation.y={rotation}>
	<T.Mesh geometry={new ExtrudeGeometry(heartShape)} scale={0.1} rotation.x={degToRad(180)} position.z={0.05} castShadow let:ref>
		<T.MeshStandardMaterial color="red" roughness=0.5 metalness=0.8 />
	</T.Mesh>
	<Text {text} scale={2.5} position={[-0.8,1.4,0.1]}/>
	<Text {text} scale={2.5} rotation.y={degToRad(180)} position={[0.8,1.4,-0.1]}/>
</T.Group>
<T.Mesh receiveShadow rotation.x={degToRad(-90)}>
	<T.CircleGeometry args={[3, 72]} />
	<T.MeshStandardMaterial color="blue" />
</T.Mesh>