<script lang="ts">
import '../app.postcss'
import { AppShell, AppBar, LightSwitch, popup, storePopup, type PopupSettings} from '@skeletonlabs/skeleton'
import { computePosition, autoUpdate, flip, shift, offset, arrow } from '@floating-ui/dom'
import { BookKey, Code, Database, Edit, Gitlab, Info, LayoutDashboard, Menu } from 'lucide-svelte'
storePopup.set({ computePosition, autoUpdate, flip, shift, offset, arrow })
let menu: PopupSettings = { event: 'click', target: 'menu'}
</script>

<AppShell>
<svelte:fragment slot="header">
<AppBar background="bg-surface-100 dark:bg-black" padding="p-1">
<svelte:fragment slot="lead">
<span class="relative">
	<button type="button" class="btn variant-ghost-primary p-2" use:popup={menu}><Menu/></button>
	<div class="card shadow-xl py-2" data-popup="menu">
		<nav class="list-nav">
			<ul>
				<li><a href="/apiflattener"><Database/>&nbspAPI Flattener</a></li>
				<li><a href="/codeexec"><Code/>&nbspCode Executor</a></li>
				<li><a href="/pyodide"><BookKey/>&nbspPyodide</a></li>
				<li><a href="/markdown"><Edit/>&nbspMarkdown</a></li>
				<li><a href="/dashboard"><LayoutDashboard/>&nbspDashboard</a></li>
				<li><a href="/about"><Info/>&nbspAbout</a></li>
			</ul>
		</nav>
		<div class="arrow bg-surface-100-800-token" />
	</div>
</span>
<a class="invert dark:invert-0 pb-1 ml-4" href="/"><img src="/MATTASCALE_white.png" alt="MATTASCALE" width="150" height="30"></a>
</svelte:fragment>
<svelte:fragment slot="trail">
	<div class="space-x-4 hidden lg:flex">
		<a href="/apiflattener" title="API Flattener"><Database/></a>
		<a href="/codeexec" title="Code Executor"><Code/></a>
		<a href="/pyodide" title="Pyodide"><BookKey/></a>
		<a href="/markdown" title="Markdown"><Edit/></a>
		<a href="/dashboard" title="Dashboard"><LayoutDashboard/></a>
		<a href="/about" title="About"><Info/></a>
	</div>
	<LightSwitch/>
	<a class="btn variant-ghost-warning p-2" href="https://gitlab.com/figuerom16" title="Gitlab"><Gitlab /></a>
</svelte:fragment>
</AppBar>
</svelte:fragment>
<slot />
</AppShell>