<script lang="ts">
import { Canvas } from '@threlte/core'
import Scene from "./Scene.svelte"
</script>

<p class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
	<span class="font-bold lg:text-8xl text-6xl bg-gradient-to-b from-error-500 to-primary-500 bg-clip-text text-transparent">MATTASCALE</span>
</p>
<Canvas>
	<Scene />
</Canvas>