<script lang="ts">
import { T, useFrame } from '@threlte/core'
import { OrbitControls } from '@threlte/extras'
import { SphereGeometry} from 'three'
const geometry = new SphereGeometry( 5, 20, 10 );

let rotation = 0
useFrame(() => {
	rotation += 0.005
})
</script>

<T.PerspectiveCamera makeDefault position={[4, 2, 0]} fov={24}>
	<OrbitControls enableZoom={true} target={[0, 0.5, 0]}/>
</T.PerspectiveCamera>
<T.DirectionalLight castShadow position={[3, 10, 5]} intensity={10} />
<T.Group rotation.y={rotation}>
	<T.LineSegments {geometry} />
	<T.Mesh position={[0.4,0.7]}>
		<T.MeshStandardMaterial roughness=0.4 metalness=1 />
		<T.TorusKnotGeometry args={[0.1,0.04]} />
	</T.Mesh>
	<T.Mesh position.y={0.6}>
		<T.MeshStandardMaterial roughness=0.4 metalness=1 />
		<T.CylinderGeometry args={[0.5,0.5,0.2,6]} />
	</T.Mesh>
	<T.Mesh position.y={0.3}>
		<T.MeshStandardMaterial roughness=0.4 metalness=1 />
		<T.CylinderGeometry args={[0.5,0.5,0.2,6]} /></T.Mesh>
	<T.Mesh position.y={0}>
		<T.MeshStandardMaterial roughness=0.4 metalness=1 />
		<T.CylinderGeometry args={[0.5,0.5,0.2,6]} /></T.Mesh>
</T.Group>