<script lang="ts">
import { RadioGroup, RadioItem } from '@skeletonlabs/skeleton'
import { marked } from 'marked'
import { Info, Heading, Bold, Italic, Strikethrough, Quote, Link, Image, CurlyBraces, List, ListChecks, Table, Sigma, Save } from 'lucide-svelte'
let md = '', radio = 0, rows = 5, filename = "README.md"
let tooltip = [
	'TOOLTIP: Click on an icon for a syntax hint',
	'HEADING: # H1, ## H2, ### H3, #### H4, ##### H5, ###### H6',
	'BOLD: **bold**',
	'ITALIC: *italic*',
	'STRIKETHROUGH: ~~strikethrough~~',
	'QUOTE: > quote',
	'LINK: [name](https://github.com/ssssota/svelte-exmarkdown)',
	'IMAGE: ![alt](/image.png)',
	'CODE INLINE: `code` || CODE BLOCK: ```code```',
	'UNORDERED LIST: - item || ORDERED LIST: 1. item',
	'TASK LIST: - [x] item',
	`TABLE: | header | header |<newline>| --- | --- |<newline>| cell | cell |`,
	`FORMULA INLINE: $\\frac{1}{2}$ || FORMULA BLOCK: $$\\frac{1}{2}$$`,
]

function resize() {
	rows = md.split(/\r\n|\r|\n/).length + 5
}

async function load(e:Event) {
	let file = (e as DragEvent).dataTransfer?.files[0]
	if (file?.type != 'text/markdown') return
	filename = file.name
	md = await file.text()
	resize()
}

function save() {
	if (!md) return
	let link = document.createElement('a')
	link.download = filename
	const out = new Blob([md], {type: 'text/markdown'})
	link.href = window.URL.createObjectURL(out)
	link.click()
	window.URL.revokeObjectURL(link.href)
}

function about() {
	if (md !='' && !confirm("CLEAR CURRENT CONTENTS?")) return
	md = `
## ***MARKDOWN RENDERER BY:*** [Marked](https://marked.js.org/)

### Markdown Basic Syntax
---

I just love **bold text**. Italicized text is the *cat's meow*. At the command prompt, type \`nano\`.

1. First item
2. Second item
3. Third item  

> Dorothy followed her through many of the beautiful rooms in her castle...
>
>> Until they came to the kitchen, where the Witch bade her clean the pots and kettles and sweep the floor and keep the fire fed with wood.  

\`\`\`
<script>
	import { marked } from 'marked'
<\/script>

<div id="md" class="prose dark:prose-invert">
	{@html marked.parse(md)}
</div>
\`\`\`  

### GFM Extended Syntax
---

Automatic URL Linking: https://github.com/ssssota/svelte-exmarkdown

~~The world is flat.~~ We now know that the world is round.

- [x] Write the press release
- [ ] Update the website
- [ ] Contact the media

| Syntax    | Description |
| --------- | ----------- |
| Header    | Title       |
| Paragraph | Text        |  

### HTML with [Skeleton](https://www.skeleton.dev/)
---
<span class="badge variant-filled-primary">Badge</span>
<span class="badge variant-filled-secondary">Badge</span>
<span class="badge variant-filled-tertiary">Badge</span>
<label class="label"><span>Input</span><input class="input" type="text" placeholder="Input" /></label>
<button type="button" class="btn btn-sm variant-filled-primary">Button</button>
<button type="button" class="btn btn-sm variant-filled-secondary">Button</button>
<button type="button" class="btn btn-sm variant-filled-tertiary">Button</button>
`
resize()
}
</script>

<div class="m-2 grid lg:grid-cols-2 gap-2">
	<div>
		<div class="flex items-center space-x-1">
			<RadioGroup padding="p-0" spacing="space-x-1">
				<RadioItem bind:group={radio} name="justify" value={0}><Info /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={1}><Heading /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={2}><Bold /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={3}><Italic /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={4}><Strikethrough /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={5}><Quote /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={6}><Link /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={7}><Image /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={8}><CurlyBraces /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={9}><List /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={10}><ListChecks /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={11}><Table /></RadioItem>
				<RadioItem bind:group={radio} name="justify" value={12}><Sigma /></RadioItem>
			</RadioGroup>
			<button class="btn btn-sm p-1 variant-ghost-warning" on:click={about}>ABOUT</button>
			<a href="https://gitlab.com/figuerom16/mattascale_site/-/blob/main/src/routes/markdown/%2Bpage.svelte" target="_blank" class="btn btn-sm p-1 variant-ghost-secondary">CODE</a>
		</div>
		<input class="p-0 input" type="text" value={tooltip[radio]} readonly/>
		<textarea class="textarea" {rows} on:drop={load} on:keyup={resize} bind:value={md} placeholder="Type/FileDropzone here or click ABOUT to generate Markdown" />
		<div class="flex">
			<button class="mr-2 btn btn-sm p-1 variant-filled-tertiary" on:click={save}><Save /></button>
			<input class="py-1 input" placeholder="FILE NAME" bind:value={filename} />
		</div>
	</div>
	<div id="md" class="prose dark:prose-invert">
		{@html marked.parse(md)}
	</div>
</div>