<script lang="ts">
import { RangeSlider, SlideToggle } from '@skeletonlabs/skeleton';

let res:Response
let api:string = 'https://datausa.io/api/data?drilldowns=Nation&measures=Population'
let token:string = ''
let json:JSON
let json_tree:any[] = []
let orig_values:any[] = []
let values:any[] = []
let map_values:Map<string,[]> = new Map()
let s:number
let t:number
let wrap:string = 'white-space: nowrap;'
let maxwidth:number = 500
let seperator:string = '|'

async function get_api() {
	let options = {}
	json_tree = []
	map_values.clear()
	if (token) options = {headers: {'Authorization': `Bearer ${token}`}}
	res = await fetch(api, options)
	json = await res.json()
	orig_values = values = parse_json(json)
	
	if (Array.isArray(json)) {
		if (json.length > 1) return
		json = json[0]
	}
	treeify('',json)
	json_tree = json_tree.reverse()
	let paths = json_tree.flat()
	for (const i in paths) {
		let arr = paths[i].split('.')
		let temp:JSON = json
		for(const j in arr) {
			if (Array.isArray(temp)) temp = temp[0]
			//@ts-ignore
			temp = temp[arr[j]]
		}
		//@ts-ignore
		map_values.set(paths[i],parse_json(temp))
	}
}

function treeify(chain:string, json:JSON) {
	let level = []
	let current_chain = chain
	let key:keyof JSON | string
	for (key in json) {
		//@ts-ignore
		let subjson:JSON = json[key]
		if (Array.isArray(subjson)) subjson = subjson[0]
		if (subjson && typeof(subjson) !== 'string' && typeof(subjson) !== 'number') {
			if (current_chain) chain = current_chain+'.'+key
			else chain = key
			level.push(chain)
			//@ts-ignore
			if (Array.isArray(json[key]) && json[key].length > 1) {}
			else treeify(chain,subjson)
		}
	}
	if (level.length > 0) json_tree.push(level)
}

function parse_json(json:JSON){
	let temp:any[] = []
	if(Array.isArray(json) && json.length > 1){
		temp[0] = Object.keys(json[0])
		for(let i = 0; i < json.length; i++) temp[i+1] = Object.values(json[i])
		let more_json:any[] = []
		temp = temp[0].map((_:any, colid:number)=>temp.map(row => row[colid]))
		for (const i in temp) {
			if (temp[i][1] && typeof(temp[i][1]) !== 'string' && typeof(temp[i][1]) !== 'number') {
				const keys = Object.keys(temp[i][1])
				for (const k in keys) more_json[k] = [temp[i][0]+'_'+keys[k]]
				for (const k in keys){
					for (let j = 1; j < temp[i].length; j++) more_json[k][j] = temp[i][j][keys[k]]
				}
				//@ts-ignore
				temp.splice(i,1)
			}
		}
		return [...temp,...more_json]
	}
	else if (Array.isArray(json)) json = json[0]
	return Object.entries(json)
}

function flatten_json() {
	values = []
	for (let col in orig_values) {
		if (typeof(orig_values[col][1]) !== 'object') values.push([...orig_values[col]])
	}
	for (const table of map_values.values()) {
		for (let col in table) {
			if (typeof(table[col][1]) !== 'object') values.push([...table[col]])
		}
	}
}

function download() {
	let temp = [...values]
	let longest_length = 0
	for (const i in temp) {
		if (temp[i].length > longest_length) longest_length = temp[i].length
	}
	for (const i in temp) {
		if (temp[i].length < longest_length) {
			temp[i].length = longest_length
			for (let j = 0; j < temp[i].length; j++){
				if (!temp[i][j]) temp[i][j] = temp[i][1]
			}
		}
	}
	let output_csv:string = ''
	for (let i = 0; i < temp[0].length; i++) {
		for (let j = 0; j < temp.length; j++) {
			output_csv += temp[j][i]+seperator
			if (j == temp.length - 1) output_csv = output_csv.slice(0,-1) + '\n'
		}
	}
	const link = document.createElement("a");
	link.download = "output.csv";
	const text = new Blob([output_csv], {type: "text/plain"})
	link.href = window.URL.createObjectURL(text);
	link.click()
}
</script>

<section class="grid lg:grid-cols-2 gap-4 m-4">
<h1 class="h1"><span class="custom-heading">API Flattener</span></h1>
<a class="btn variant-filled-secondary" href="https://gitlab.com/figuerom16/mattascale_site/-/tree/main/src/routes/apiflattener">Gitlab: API Flattener</a>
</section>
<div class="card">
	<div class="card-body">
		This attempts to make a table out of JSON objects. Will work for most uncomplicated JSON structures, but won't work for all due to JSON being unstructured.
		If you see [object Object] that's probably an array or more JSON that the program didn't attempt to flatten into a table.
		Columns can be moved by drag and drop or removed by clicking the red X then output can be saved to a csv file with a custom seperator.
		This will be part of a larger project for pushing APIs into PostgreSQL Databases. Bearer Token is disabled for your safety.
		Try this with public APIs or clone this from Git and enable the bearer token.
	</div>
</div>

<form class="grid lg:grid-cols-5 gap-4 m-4" on:submit|preventDefault={get_api}>
	<input name="API" class="input col-span-2" type="text" placeholder="API URL" bind:value={api} required />
	<input name="TOKEN" class="input col-span-2" type="text" placeholder="BEARER TOKEN [optional]" bind:value={token} disabled/>
	<button class="btn variant-filled-primary w-full">GET API</button>
	<RangeSlider name="width" label="Max Column Width" min={35} max={1500} bind:value={maxwidth} class="col-span-2" />
	<SlideToggle name="wrap" size="lg" on:click={()=>{if (wrap) wrap = ''; else wrap='white-space: nowrap;'}}>Wrap Text?</SlideToggle>
	<label class="mx-1"><input class="input has-text-weight-bold" type="text" placeholder="SEPERATOR" style="max-width: 40px;" bind:value={seperator}/> CSV Seperator</label>
</form>

{#if json_tree.length > 0}
<div class="grid grid-cols-2 gap-4 m-4">
	<button id="JSON ROOT" class="btn variant-ghost-tertiary w-full" on:click={()=> values = orig_values}>JSON ROOT</button>
	<button id="JSON FLATTEN" class="btn variant-ghost-tertiary w-full" on:click={flatten_json}>JSON FLATTEN</button>
</div>
{#each json_tree as level}
<div class="grid grid-flow-col auto-cols-auto gap-4 m-4">
	{#each level as id}
		<button id={id} class="btn variant-ghost-primary w-full" on:click={()=>{values=[...map_values.get(id)||[]]}}>{id}</button>
	{/each}
</div>
{/each}
{/if}

{#if res}
{#if res.status != 200}
<div class="card">
	<div class="card-header">Error: {res.status}</div>
	<div class="card-body">{values}</div>
</div>
{:else if res.status == 200}
<div class="m-4"><button id="DOWNLOAD CSV" class="btn variant-ghost-secondary w-full" on:click={download}>DOWNLOAD CSV</button></div>
<div class="card">
<div class="grid grid-flow-col auto-cols-min ml-2" >
	{#each values as value, i(value)}
	<div id="col{i}" class="w-full" draggable=true on:dragover|preventDefault on:dragstart={()=>s=i} on:dragenter={()=>t=i} on:drop={()=>[values[s],values[t]]=[values[t],values[s]]}>
		<button id="drop{i}" class="btn bg-warning-500/30 btn-sm ring-2 ring-warning-500 ring-inset" on:click={()=>{values.splice(i,1); values=values}}>X</button>
		{#each value as v}<div class="cells p-1" style="{wrap} max-width:{maxwidth}px;">{v}</div>{/each}
	</div>
	{/each}
</div>
</div>
{/if}
{/if}

<style>
.cells{
	border-style: solid;
	border-width: thin;
	overflow: hidden;
}
</style>