<script lang="ts">
import { onMount } from 'svelte'
import { Table, tableSourceValues, FileDropzone, ProgressRadial } from '@skeletonlabs/skeleton'
import { loadPyodide } from 'pyodide'

let pyodide:any
let scrubber:any
let pyodide_loaded:boolean = false
onMount(async()=>{
	pyodide = await loadPyodide({indexURL: 'https://cdn.jsdelivr.net/pyodide/v0.25.0/full'})
	await pyodide.loadPackage('pandas')
	await pyodide.runPythonAsync(`
		from pyodide.http import pyfetch
		response = await pyfetch("/pyodide/scrubber.py")
		with open("scrubber.py", "wb") as f:
			f.write(await response.bytes())`)
	scrubber = pyodide.pyimport("scrubber")
	pyodide_loaded = true
})



let files:FileList
let notes:string[] = ['','']
let texts:any[] = []
let headings:any[] = ['','']
let source:any[] = [[''],['']]
let out_match:boolean
let out_headings:string[] = []
let out_source:any[] = []

$: table0 = {head:headings[0], body:tableSourceValues(source[0])}
$: table1 = {head:headings[1], body:tableSourceValues(source[1])}
$: tableout = {head:out_headings, body:tableSourceValues(out_source)}

function csv_to_array(text:string) {
	return text.replaceAll('\r','').replaceAll('"','').split("\n").map(function(row:string){return row.split(",")})
}

async function file(e:Event) {
	//@ts-ignore
	let input = e.target.getAttribute('name')
	if (!input) return
	let index = -1
	input = input[input.length-1]
	if (files[0].name === 'LocalTransaction.csv') index = 0
	else if (files[0].name === 'Settlement.csv') index = 1
	else {
		notes[input] = 'File must be: LocalTransaction.csv or Settlement.csv'
		return
	}
	notes[input] = files[0].name
	const text = await files[0].text()
	const arr = csv_to_array(text)
	headings[input] = arr[0]
	source[input] = arr.slice(1)
	texts[index] = pyodide.toPy(arr)
}

function save() {
	let link = document.createElement('a')
	link.download = 'output.csv'
	//@ts-ignore
	const temp = [out_headings,...out_source].map(v=>v.map(x=>x).join(',')).join('\n')
	const csv = new Blob([temp], {type: 'text/plain'})
	link.href = window.URL.createObjectURL(csv)
	link.click()
}
</script>

{#if pyodide_loaded}
<section class="grid lg:grid-cols-2 gap-4 m-4">
	<h1 class="h1"><span class="custom-heading">CSV Scrubber: Pyodide</span></h1>
<a class="btn variant-filled-secondary" href="https://gitlab.com/figuerom16/mattascale_site/-/tree/main/src/routes/pyodide">Gitlab: Pyodide</a>
</section>
<div class="card m-4 space-y-1">
	<div class="card-body">
		This is a demonstration of delivering a python app through Pyodide and Pandas.
		This takes two files which can be downloaded from the server below (LocalTransaction.csv, Settlement.csv). Upload them to the drag and drop boxes.
		Then click the Scrub button which then attempts to reconcile them.
		On Success or Failure it will generate a simplified csv with relavant information for download.
		Change the AMOUNT value of the sample files to generate a Match Failure.
		More information about the app will be in the Gitlab Link. Pyodide makes delivering javascript/python apps easy!
	</div>
	<div class="card-footer">
		Example Files:
		<p><u><b><a href="/pyodide/LocalTransaction.csv">LocalTransaction.csv</a></b></u> /// <u><b><a href="/pyodide/Settlement.csv">Settlement.csv</a></b></u></p>
	</div>
</div>
<section id="table_grid" class="grid lg:grid-cols-2 gap-4 m-4">
<div class="container">
	<FileDropzone bind:files on:change={file} notes="{notes[0]}" name="upload0" />
	<Table class="my-4" source={table0}></Table>
</div>
<div class="container">
	<FileDropzone bind:files on:change={file} notes="{notes[1]}" name="upload1" />
	<Table class="my-4" source={table1}></Table>
</div>
</section>
<div class="flex items-center">
	{#if texts.length > 1}
		<button id="btn" class="btn bg-primary-500 m-4" on:click={()=>{[out_match,out_headings,out_source] = scrubber.scrub(texts)}}>SCRUB FILES!</button>
	{/if}
	{#if out_source.length > 0}
		<button class="btn variant-filled-tertiary m-4" on:click={save}>SAVE</button>{#if out_match}<p class="font-bold text-success-500">MATCH SUCCESS!</p>{:else}<div class="font-bold text-error-500">MATCH FAILURE!</div>{/if}
	{/if}
</div>
<Table class="m-4" source={tableout}></Table>
{:else}
<h1 class="h1"><span class="custom-heading">...PYODIDE LOADING...</span></h1>
<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
	<ProgressRadial stroke={100} meter="stroke-warning-500" track="stroke-warning-500/30" />
</div>
{/if}