<script lang="ts">
export let data
</script>

{#if data}
<section class="grid 2xl:grid-cols-6 xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-0 m-4">
<h2 class="h2"><span class="custom-heading">Favorite Tech</span></h2>
{#each data.favorite as fav}
<div class="card">
	<div class="card-body">
	<a class="btn variant-ghost-secondary w-full" href={fav[2]} target="_blank" rel="noopener noreferrer">
		<span><img src={fav[1]} alt={fav[0]} width="75%" height="75%"></span>
		<span>{fav[0]}</span>
		{#if fav[4]}
			<span class="badge bg-success-500">ONLINE</span>
		{:else}
			<span class="badge bg-error-500">OFFLINE</span>
		{/if}
	</a>
	</div>
	<div class="card-footer text-center">{fav[3]}</div>
</div>
{/each}
</section>
<!-- <Divider variant="solid" weight={4} orientation="h" /> -->
<section class="grid 2xl:grid-cols-6 xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-0 m-4">
<h2 class="h2"><span class="custom-heading">Home Network</span></h2>
{#each data.home as h}
<div class="card">
	<div class="card-body">
	<a class="btn variant-ghost-tertiary w-full" href={h[2]} target="_blank" rel="noopener noreferrer">
		<span><img src={h[1]} alt={h[0]} width="75%" height="75%"></span>
		<span>{h[0]}</span>
	</a>
	</div>
</div>
{/each}
</section>
{/if}