<script lang="ts">
</script>
<section id="masonary" class="lg:columns-3 gap-0 m-4">
<h1 class="h1"><span class="custom-heading">Simple Opensource Solutions</span></h1>
<img class="mx-auto mt-2 invert dark:invert-0" src="/architecture.svg" alt="architecture" />
<div class="card">
	<header class="card-header">Opensource Software/Hardware Used for Projects:</header>
	<div class="card-body">
	<ul>
		<li>*Debian 12</li>
		<li>*Proxmox VE</li>
		<li>*IPFire on Protectli VP2410</li>
		<li>*Go Fiber + HTMX + PicoCSS + Surreal</li>
		<li>*SvelteKit/Skelton Serverless</li>
		<li>*RPA for Python</li>
		<li>*Redis Database</li>
		<li>*PostgreSQL Database and pgAdmin</li>
		<li>*OpenMediaVault 6 on Raspberry Pi 4</li>
		<li>*NGINX (Reverse Proxy)</li>
		<li>*LTSP (Linux Terminal Server Project)</li>
		<li>*FOG (Free Opensource Ghost)</li>
	</ul>
	</div>
</div>
<div class="card">
	<header class="card-header">Why make this site?</header>
	<div class="card-body">
		To see how far inexpensive and yet robust practices can be taken. This was built using SvelteKit and deployed on Cloudflare Pages. Preference is to build more complicated applications using Go + HTMX.
	</div>
</div>
<div class="card">
	<header class="card-header">What is the end goal of the projects being created here?</header>
	<div class="card-body">
		Right now this site is a sandbox for creation to help me learn a Full Tech Stack.
		As I create more project they will be added to the site.
		They will be in the top bar or Menu.
	</div>
</div>
<div class="card">
	<header class="card-header">Why self host the API and Database?</header>
	<div class="card-body">
		Self hosting is always the cheapest option in the long run. 
		It's always going to be more expensive to host your database and computations in the cloud.
		Relational Databases don't scale horizontally either, but that changes when looking at Redis.
		Having full control and ownership over the Database and API layer is a security plus.
	</div>
</div>
<div class="card">
	<header class="card-header">Site Made With</header>
	<div class="card-body">
		<h3 class="h3"><span class="bg-gradient-to-br from-orange-600 to-blue-500 bg-clip-text text-transparent box-decoration-clone">SvelteKit: Frontend Metaframework</span></h3>
		<h3 class="h3"><span class="bg-gradient-to-br from-green-700 to-blue-500 bg-clip-text text-transparent box-decoration-clone">Skeleton: Svelte Component Library</span></h3>
	</div>
	<footer class="card-footer">SvelteKit + Skeleton is a perfect union allowing for the creation of functional and beautiful websites with minimal effort.</footer>
</div>
<div class="break-inside-avoid flex items-center justify-center invert dark:invert-0"><img src="/MATTASCALE_big.png" alt="MATTASCALE" width="300" height="247"></div>
</section>